{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% vite_hmr_client %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <script src="{% url 'reverse_js' %}"></script>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
