celery[redis]
celery-redbeat
django>=4
django-dbshell-plus
django-debreach
django-extensions
django-log-request-id
django-reverse-js
django-vite
python-decouple
graphene-django
gunicorn
whitenoise
psutil
psycopg2
