celery[redis]
celery-redbeat
django>=4
django-dbshell-plus
django-debreach
django-extensions
django-import-export
django-log-request-id
django-model-utils
django-reverse-js
django-webpack-loader
python-decouple
graphene-django
gunicorn
whitenoise
psutil
psycopg2
